/* // LOADING /////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

#divOverlayLoading {
    z-index: 4000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #323e49;
    font-family: 'Libertinus Serif', serif;
    font-size: 6vw;
    color: whitesmoke;
    text-align: center;
    padding-top: 36vh;
    border-top: calc(6px * var(--pixel-scale)) solid #1d2731;
}

#divOverlayLoading span {
    font-family: 'Libertinus Serif', serif;
    font-size: 8vw;
    color: whitesmoke;
}

.removeLoadingOverlay {
    transform: translateY(101%);
    transition: transform 0.42s ease-in-out;
}



/* End of Document */